<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking App" parallel="false">
<listeners>
<listener class-name="com.automation.utils.ExtendReports" />
</listeners>
  <test name="Validate E2E Banking App">
    <classes>
      <class name="runner.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
